{% block gisl_element_blog_short_description %}
    {% set element = block.slots.getSlot('content') %}
     <img src="{{element.data.banner}}" alt="Snow" />
    <div class="centered banner_content_area">
        <h1 class="blog-page__title  text-center text-light"> {{ element.translated.config["title"]["value"] }} </h1>
        <p>{{element.translated.config['shortDescription']['value']}}</p>
        <div class="d-flex justify-content-center">
            <a type="button" class="btn btn-sm bg-light" href="{{ element.config["targetId"]["value"] }}">{{ element.config["buttonName"]["value"] }}</a>
        </div>
    </div>
{% endblock %}