<div class="row">
    <div class="col-md-3">
        <div class="table_content_area"  id="tableOfContents">
            <h3 class="blog_details_title">{{ 'gisl.tableContentTitle'|trans }}</h3>
            <ul class="table_list">
                {#  class="active_list"#}
                {% if details.toc != "" %}
                    {{details.toc |raw}}
                {% endif %}
            </ul>
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="blog_details_content_area" id="content" >
            {{ details.description|raw }}
        </div>
        {% if element.config["showShare"]["value"] %}
            <ul class="social_share_list">
            {% sw_include '@Storefront/storefront/component/blog-details/share-now.html.twig' %}
            </ul>
        {% endif %}
    </div>
    
    <div class="col-md-3">
        <div class="details_right_area">
            {% if element.config["showCategory"]["value"] %}
                {% if ( details.allCat | length >0)%}
                    <div class="category">
                        <h3 class="blog_details_title">{{ 'gisl.categoryTitle'|trans }}</h3>
                        <div class="category_list d-flex align-items-center flex-wrap gap-2 category-area" >
                            {% for category in details.allCat %}
                                <a type="button"   href="/{{details.blogListingUrl}}?category={{category.fkId}}" 
                                class="btn {{ category.fkId in details.blogCat ? 'active_category' : '' }}" 
                                >{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
                {% endif %}
                
            {% if ( details.relatedProduct | length >0)%}
                <div class="related_product_area">
                    <h3 class="blog_details_title">{{ 'gisl.relatedProductTitle'|trans }}</h3>
                    <div class="related_product_grid">
                        {% sw_include '@Storefront/storefront/component/blog-details/related-product.html.twig' %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>